:root {
    --primary-color: #33383C;
    --secondary-color: #33383C;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #33383C 32%, #ffffff 10%);
    margin: auto;
    overflow-x: hidden; /* Hide horizontal overflow */
}

/* NAVBAR */

header {
    padding: 1.7rem 0;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-content: center;
}

.logo a {
    font-size: 1.3rem;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
}

nav {
    z-index: 1;
}

nav a {
    color: #33383C;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    padding: 0.4rem 1.3rem;
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* BIO SECTION */

section {
    margin: 2rem 8.5rem;
}

.container {
    background: rgba(0, 0, 0, 0.8); /* Background property added */
    padding: 20px; /* Padding added for better spacing */
    border-radius: 10px; /* Rounded corners */
}

.bio {
    color: #fff; /* Text color */
    font-size: 1.5rem; /* Increase font size to occupy the whole space */
    text-align: center; /* Center align text */
    line-height: 1.6; /* Line height for better readability */
}
p{
    text-align: left;
}